Gmail  Reply agent.json
{
  "name": "Gmail  Reply agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "c8a5ce24-73cf-4fc9-a7f4-25c1f6cd4088",
      "name": "Check for Email",
      "credentials": {
        "gmailOAuth2": {
          "id": "s0tuW4iNxZkII8b1",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "c4bf59df-87ab-442a-bbf9-caa4bad92197",
      "name": "Get a message",
      "webhookId": "a6858600-4456-4ad5-9f8e-1feaed8e8f68",
      "credentials": {
        "gmailOAuth2": {
          "id": "aJQLZXCwY0Qg8m1V",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a email responding agent.\n\n\nBelow are the content of latest email I got.\n\nSubject : {{ $json.Subject }}\n\nBody : {{ $json.snippet }}\n\nYou have to do 2 things. \n1. Specify the label based on the email.\nuse the tool to get all the laebl and there Id and mention both of them properly.\n\nlabel can be one of the below :\ncourse\ndoubts\nsponsor\n\n2. As a smart assitant please draft the response for m so that i can reply to my email. with subject and bodya\n\nMake sure that reply is very respectable and whatever required please explain studetn doubt in dept with example and also make sure that reply follow a srict HTML format so it is easy to read.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "d0203abc-fdc8-4b9f-b1eb-f70f55ddb938",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        288,
        208
      ],
      "id": "56462647-77ac-40c8-844f-a3c063016495",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "fIjeWfPxrct9evI7",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"label\" : \"doubt\",\n  \"labe_id\" : \"2345678\",\n  \"Subject\" : \"doubt_answer\",\n  \"reply\" : \"Thanks for reaching out\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        704,
        224
      ],
      "id": "ebdb22df-dfca-4c5a-a6de-d03663cb1f6f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get a message').item.json.id }}",
        "labelIds": "={{ $json.output.labe_id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        768,
        0
      ],
      "id": "39c1eecb-4155-42cd-84f2-44f624cf902f",
      "name": "Add label to message",
      "webhookId": "22f20446-4170-4358-90c9-805176696d37",
      "credentials": {
        "gmailOAuth2": {
          "id": "s0tuW4iNxZkII8b1",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": true
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        560,
        272
      ],
      "id": "b15dbbbe-b36a-486f-b7fc-6a24a3d4d8ce",
      "name": "Get many labels in Gmail",
      "webhookId": "b41d23c9-fa97-4adf-a332-8409b7d27cd6",
      "credentials": {
        "gmailOAuth2": {
          "id": "s0tuW4iNxZkII8b1",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('AI Agent').item.json.output.Subject }}",
        "message": "={{ $('AI Agent').item.json.output.reply }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        976,
        0
      ],
      "id": "33d5e8ea-d472-4947-84b6-98855e96bc7a",
      "name": "Create a draft",
      "webhookId": "f1c8246e-1fd4-497d-a9d2-b99da09d2cb8",
      "credentials": {
        "gmailOAuth2": {
          "id": "s0tuW4iNxZkII8b1",
          "name": "Gmail account 3"
        }
      }
    }
  ],
  "pinData": {
    "Check for Email": [
      {
        "json": {
          "id": "19953c55a0354986",
          "threadId": "19953c55a0354986",
          "snippet": "Hi this is test message",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 5692,
          "historyId": "4559",
          "internalDate": "1758047055000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_PERSONAL",
              "name": "CATEGORY_PERSONAL"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "From": "Swara Baranwal <swarabaranwal59@gmail.com>",
          "Subject": "Test",
          "To": "\"learnwithn8n@gmail.com\" <learnwithn8n@gmail.com>"
        }
      }
    ]
  },
  "connections": {
    "Check for Email": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many labels in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9b29bf77-420e-4117-803d-fcac8956d5bf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c217ea0e40795eeaa79324bdc37c8dfdd388a3e5c51cb34ebf0d3fa1f5d3c1cf"
  },
  "id": "vC9dZojQmxjHCA2O",
  "tags": []
}